#header {
background-image: url("/images/PumpkinPie.png");
background-repeat: no-repeat;
background-position: top left;
height: 64px;
padding-left: 75px;
}


#footer {
text-align: center;
font-family: sans-serif;
font-size: 10px;
}
